#main {
  background-image: url("https://images.unsplash.com/photo-1491747677313-84f7c8e10cc6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd231a8eed81b26dcbb19f798db57340&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}


@media (max-width: 992px) {
    .navbar {
        background: rgba(255, 255, 255, .8);
    }
}
